:root{
    // For Bg
    --bg-violet: hsl(263, 55%, 52%);
    --bg-grayish: hsl(217, 19%, 35%);
    --bg-blackish: hsl(219, 29%, 14%);
    --bg-white: hsl(0, 0%, 100%);

    // For Profile Text
    --main-profile: hsl(0, 0%, 81%);
    --sub-profile: hsl(0, 0%, 81%, 0.5);
    --main-profile-light: hsl(217, 19%, 35%);
    --sub-profile-light: hsl(217, 19%, 35%, 0.5);

    // For Text
    --head-text: hsl(210, 46%, 95%);
    --head-text-light: hsl(219, 29%, 14%);
    --content-text: hsl(210, 46%, 95%, 0.7);
    --content-text-light: hsl(219, 29%, 14%, 0.7);
}